body{
  max-width: 680px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1531674590200-f5e4c43f31de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=44c88230f10a563c9dd67d6456dc1c35&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
}
/* container for only the header */
#grid-container-header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(50px, auto));
  justify-self: center;
  background: #006699;

}
/*all elements inside the header container */
.header-box{
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: end;
}
#input-text-field{
  padding: 20px;
  border: none;
  font-size: 18px;
}
#add-todo{
  padding: 20px;
  border: none;
    font-size: 18px;
}

/* container for todo part of app */
#grid-container-app{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: repeat(auto, minmax(50px, auto));
  background: transparent;
}

  #list{
  margin: 5px;
  padding: 0;
}
#list li{
  display: grid;
  grid-row: 1 / 2;
  color: white;
  font-size: 24px;
  background: #336699;
  opacity: 0.9;
  margin: 5px;
  padding: 10px;
  list-style-type: none;
  max-width: 680px;
}
#remove{
  //grid-row: 1 / 2;
  height: 30px;
  width: 100px;
  //align-self: center;
  justify-self: end;
}
