body{
  max-width: 960px;
    margin: auto;
}

#grid-container-app{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, minmax(100px, auto));
  background: pink;
}
#grid-container-header{
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  align-self: end;
  justify-self: center;
  //width: 100%;
  background: green;
  padding: 50px;
  margin-left: 0 auto;
}
#input-box input{
  padding: 20px;
}
#input-box button{
  padding: 20px;
  border: none;
}
#grid-container-todos{
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(auto, minmax(50px, auto));
  background: #fff;
}
/*
#list{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  margin: 0;
  align-self: center;
  list-style-type: none;
}
*/
.list-item{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 24px;
}
#remove{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  height: 30px;
  align-self: center;
  margin: 5px;
}
#checked{
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  height: 30px;
  align-self: center;
    margin: 5px;
}
