body{
  max-width: 960px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
/* container for entire app */
#grid-container-app{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(9, minmax(50px, auto));
  background: lightgrey;
}

#grid-container-header{
  grid-column: 1 / 5;
  grid-row: 1 / 3;
//  display: grid;
  justify-self: center;
  background: green;
  padding: 0 50px 0 50px;
}
/*
#input-box input{
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  padding: 20px;
}
*/
#input-box button{
  padding: 20px;
  border: none;
}
/*
#grid-container-todos{
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: repeat(auto, minmax(50px, auto));
  background: #fff;
}
*/
#todo-container{
    grid-column: 1 / 5;
      grid-row: auto;
  display: grid;
  //flex: 1 1 100%;
  //grid-template-columns: 1 500px;
  //grid-auto-rows: repeat(auto, minmax(100px, auto));
  background: white;
}
.list{
  //grid-column: 1 / 5;
  //grid-row: auto;
  display: grid;
  font-size: 24px;
  background: grey;
}
/*
.list-item{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 24px;
}
*/
.remove{
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  height: 30px;
  width: 150px;
  align-self: center;
  justify-self: end;
  margin: 5px;
}
.checked{
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  height: 30px;
    width: 150px;
  align-self: center;
    justify-self: end;
    margin: 5px;
}
